<div class="jumbotron bg-light p-5 rounded" style="min-height: 60vh; display: flex; flex-direction: column; justify-content: center;">
    <h1 class="display-4 text-center">Bem-vindo ao painel admin!</h1>
    <p class="lead text-center">Gerencie suas categorias e postagens facilmente.</p>
    <hr class="my-4">

    <!-- Botão para gerenciar postagens -->
    <div class="text-center">
        <a class="btn btn-primary btn-lg" href="/admin/postagens" role="button">Gerenciar Postagens</a>
    </div>

    <!-- Botão para gerenciar categorias -->
    <div class="text-center mt-3">
        <a class="btn btn-success btn-lg" href="/admin/categorias" role="button">Gerenciar Categorias</a>
    </div>
</div>